<h1><%= @user.name %></h1>
<p><%= @user.bio ? @user.bio : 'No bio' %></>
<ul>
    <%= @posts.empty? ? 'No post available' : @user.three_recent_posts.each do |post| %>
        <li>
            <h2>Title: <%= post.title %></h2>
            <p>Text: <%= post.text %></p>
            <span>likes: <%= post.likes_counter %></span>
            <span>Comments: <%= post.comments_counter %></span>
        </li>
    <% end %>
    <br/>
    <br/>
    <%= link_to 'See all posts', user_posts_path(@user.id) %>
</ul>