<h1><%= @user.name %>'s posts page</h1>

<% @posts.each do |post| %>
    <h2>Title: <%= post.title %></h2>
    <p>Text: <%= post.text %></p>
    <span>Likes : <%= post.likes_counter %></span>

    <span>Comments : <%= post.comments_counter %></span>
    <%= link_to "show post", user_post_url(@user.id, post.id) %>
<% end %>