<h1><%= @post.title %></h1>
<p><%= @post.text ? @post.text : 'No text' %></>
<span><%= render 'likes/form' %><%= @post.likes_counter %></span>
<h3>Comments</h3>
<% @post.five_recent_comments.each do |comment| %>
    <% user = User.find(comment.user_id) %>
    <p><%= user.name %> : <%= comment.text %></p>
<% end %>
<%= link_to "Add comment", new_user_post_comment_url(@user.id, @post.id)%>